traefik:
  service:
    annotations:
      service.beta.kubernetes.io/aws-load-balancer-internal: "true"
  providers:
    kubernetesCRD:
      allowCrossNamespace: true
    kubernetesIngress:
      namespaces: []
    